@{
    ViewBag.Title = "Home Page";
}

<!--<div class="jumbotron">
    <h1>Soccer Team Stats</h1>
</div>-->

<div class="landing-img">
    <div class="row">
        <div class="col-sm-12">
            <a href="@Url.Action("LeagueSelection", "Home")">
                <img style="width:100%" src="@Url.Content("~/Content/images/LandingPage.jpg")">
            </a>
        </div>
    </div>
</div>




<!--<div class="soccer-api">
    <div class="row">
        <div class="img-ctr">
            <div class="col-md-12">
                <h2></h2>
                <img src=>
            </div>
        </div>
    </div>
</div>-->

@Scripts.Render("~/Content/Site.css")